- const btnType = iconName ? "btn-icon" : "btn"
- const classNames = classes || "";

button(
    id=id
    _key=_key
    type=type
    title=title
    class=`${btnType} ${classNames}`
)
    if iconName
        i.material-icons #{iconName}
    | #{text}