.chat
    aside.chat__side
        header.chat__main-bar.chat__main-bar_no-border
            | !{userAvatar}

            .search
                form
                    label.input.input_inline
                        span.input__icon
                            i.material-icons search

                        input(
                            type="text"
                            name="search"
                            class="input__field"
                            placeholder="Поиск по списку"
                            data-validation-type="text"
                        )

        .chat__list
            | !{chatsList}

    | !{chatWindow}